.section-title {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.5rem;
}

.section-title h5 {
  color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.section-title h2 {
  color: var(--color-primary);
  font-weight: 700;
  letter-spacing: 0.04em;
}

@media (max-width: 600px) {
  .section-title {
    margin-bottom: 2.5rem;
  }
}
