footer {
  margin-top: 6rem;
  padding: 3rem 0 2rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.02);
  border-top: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(10px);
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.links li {
  list-style: none;
}

.links a {
  font-size: 0.9rem;
  color: var(--color-light);
  transition: var(--transition);
  position: relative;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: var(--color-primary);
  transition: var(--transition);
}

.links a:hover {
  color: var(--color-white);
}

.links a:hover::after {
  width: 100%;
}

footer .socials {
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-copyright {
  font-size: 0.85rem;
  color: var(--color-light);
}

.footer-copyright a {
  color: var(--color-primary);
}

@media (max-width: 600px) {
  footer {
    margin-top: 4rem;
    padding: 2.5rem 0 5rem;
  }

  .footer-logo {
    font-size: 1.4rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links a {
    font-size: 0.8rem;
  }
}
